body {
    font-family: "Poppins", sans-serif;
}

.navbar-section{
    margin-top: 15px;
}

.proEdu {
    font-size: 30px;
    font-weight: 600;
    color: #4A4A4A;
}

.nab-b {
    margin-left: 300px;
    gap: 30px;
}