body {
    font-family: "Poppins", sans-serif;
}

/* nav section start */
.navbar-section {
    margin-top: 15px;
}

.proEdu {
    font-size: 30px;
    font-weight: 600;
    color: #4A4A4A;
}

.nab-b {
    margin-left: 300px;
    gap: 30px;
}

/* nav section end */


/* banner section start */
.b-img {
    height: 680px;
    object-fit: cover;
}

.carousel-text-container {
    margin-bottom: 160px;
}

.carousel-text-h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 85px;
    text-align: center;
}
/* banner section end */